header {
background-color: darkred;
color: white;
font-family: serif;
font-size: 10px;
text-align-last: center;
padding-bottom: 10px;
/* border: solid darkgoldenrod; */
border-radius: 5px;
}
h1 {
margin-bottom: 4px;
margin-top: 6px;
font-family: serif;
background-color: darkred;
color: white;
}

h2{
    margin-bottom: 4px;
    margin-top: 6px;
    background-color: darkred;
    color: white;
    font-family: serif;
}

nav {
 background-color: #eeeeee;
padding: 8px;
 font-family: sans-serif;
 font-weight: bold;
/* align-content: center;
text-align-last: center;
text-align: center; */
}
a{
color: darkred;
text-decoration: none;
}
a:hover{
    color: firebrick;
}
main{
font-family: sans-serif;
font-size: 14px;
    padding: 30px;
}


footer{
background-color: green;
color: white;
text-align: center;
font-family: sans-serif;
padding: 10px;
font-size: 10px;
}

/* .nav-link{
  background-color: gray;
  padding: 10px;
} */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: gray;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #blue;
}

myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

form{
align-self: center;}
